@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap");

/* Homepage.js */
.homepage {
  width: 100vw;
  height: 100vh;
}
.nav-home {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  top: 0;
  width: 100%;
}
.navbar-collapse {
  display: flex;
  justify-content: space-around;
}
.video-home {
  height: 90vh;
  
}
.container-fluid {
  margin-right: 120px !important;
}
.home-page-content {
  position: relative;
  top: 10%;
  left: 5%;
  font-size: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0px;
}
.home-page-p {
  color: rgba(255, 143, 108, 255);
  display: flex;
  flex-direction: row;
  margin-bottom: 0 !important;
}
.shop-coffe-mainpage {
  background-color: #fff;
  display: flex;
}

/* Page Cafea.js */

.coffe-container {
  margin: 2rem;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  justify-content: center;
}
.page-img {
  min-width: 28rem;
  display: flex;
  flex-direction: column;
}
.page-container-links {
  display: flex;
  justify-content: center;
}

.page-container-images a img {
  width: 24rem;
  height: 24rem;
  object-fit: cover;
  padding: 20px;
}

/* Page Espresso.js */
.card-subtitle {
  margin-bottom: 6px !important;
  color: #b3a394 !important;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 13px !important;
  letter-spacing: 0.1em;
  justify-content: center;
  display: flex;
  align-items: flex-start;
}
.card-text-content {
  text-align: center;
}
.page-header-links {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

/* Page Cart.js */
.cart-checkout-container {
  display: flex;
  flex-direction: column;
  margin: 0 100px;
}
.cart-item-image {
  display: flex;
  flex-direction: row;
}
.cart-item-image a {
  display: flex;
  flex-direction: row;
}
.tabel {
  border-collapse: collapse;
  width: 100%;
  border: none;
  
}
.tabel thead {
  border-bottom: 1px solid rgb(216, 209, 209);
}
.tabel tbody {
  border-bottom: 1px solid rgb(216, 209, 209);
}
.submit-update {
  color: white !important;
  background: #c3bdb7;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 700;
  display: inline-block;
  padding: 15px 20px;
  font-size: 14px;
  border-radius: 5px;
}
.checkout-container {
  display: inline-flex;
    justify-content: space-between;

}
.cart-checkout {
    margin-right: 10px;
    text-align: right;
    font-size: 20px;
    line-height: 32px;
    color: #2c2723;
    font-family: Inter I !important
}
.cart-price {
  margin-top: 40px;
  margin-bottom: 0;
}


/* BrazilOlhos.js */
.subcard-body {
  font-family: Inter !important;
  font-weight: 400;
}
.main-content-wrapper {
  font-family: Inter !important;
  font-weight: 400;
  position: relative;
  padding: 0 30px;
  min-width: 320px;
  max-width: 1320px;
  margin: 0 auto;
}
.page-header {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}
.product-wrap {
  display: flex;
}
.product-wrap-image {
  margin-left: 20px;
}
.product-container-details {
  display: flex;
  flex-direction: column;
  margin: 0px 40px;
  justify-content: center;
  align-items: flex-start;
}
.page-title {
  font-family: Inter !important;
  font-weight: 400;
  font-size: 30px;
  color: #2c2723;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.product-vendor {
  margin-top: 10px;
  display: inline-block;
  color: #b3a394;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.1em;
}
.product-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.product-quantity {
  text-align: left;
  display: inline-block;
  width: 49%;
}
.input-quantity {
  width: 23px;
  margin-left: 5px;
}
.input-wrapper {
  margin: 25px 0px;
}
.input-wrapper label {
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
}
.add-to-cart {
  background: #686868;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  line-height: normal;
  color: white;
  display: inline-block;
  width: auto;
  padding: 15px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.add-to-cart:hover {
  background: #353535;
  color: white;
}

.product-price {
  display: flex;
  justify-content: center;
  color: #525252;
  line-height: 1.625;
  font-size: 16px;
}
table,
th,
td {
  color: #525252;
  border-radius: 10px;
  font-size: 14px;
  line-height: 22px;
  border: 1px solid;
}
ul p {
  font-weight: 400;
  font-family: Inter !important;
  font-size: 19px;
}
.share-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 100%;
}
.share-buttons a {
  display: inline-block;
  padding: 6px 13px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  color: #525252;
  margin: 5px;
  letter-spacing: 0;
}
.share-buttons a:hover {
  color: white;
  background: #abb7d3;
}
