.footer-container {
  /* position: fixed; */
  bottom: 0;
  left: 0;
  width: 100%;
  height: 44vh;
  background-color: #fff;
  overflow: hidden;
}
.footer-logo {
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: 700;
  color: #000;
  letter-spacing: -0.17px;
  overflow: hidden;
}
.footer-logo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 33, 33%;
}
.footer-title {
  text-transform: none;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.25rem;
  overflow: hidden;
}
.info-shop-footer {
  display: flex;
 justify-content: flex-start;

 
}
.info-container-footer ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.info-container-footer a {
  vertical-align: top;
  width: 50%;
  padding-right: 15px;
  font-size: 14px;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  color: black;
  overflow: hidden;
}
.info-shop-footer > h3 {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}
.description-footer {
  display: flex;
  justify-content: center;
  width: 33.33%;
  flex-direction: column;
  overflow: hidden;
}
